{% extends "base.html" %}

{% block content %}
<div>
<div class="quotes">

<div class="quote">
Duas bocas gritam mais que uma
</div>

<div class="quote">
Somos femiNinjas!
</div>

<div class="quote">
É confortante poder ter alguém conhecido ao lado quando se sente perdida.
</div>

<div class="quote">
Dois olhos a mais para estarem atentos
</div>
<div class="quote">
Porque duas podem mais do que uma.
</div>

</div>


<div class="quemsomos">
<p>Assim como as aves migram juntas, amigas juntas vão mais longe.</p>
<p>Com vergonha de se aproximar de outra mulher para fazerem companhia?
</p>
<p>Precisa de alguém para acompanha-la de volta para casa? 
</p>
<p>Precisa de companhia para um show, para correr? </p>
<p>Vai para um lugar desconhecido à noite e tem medo de ir sozinha?
</p>
<p>Cansada de rezar para que nada de mal lhe aconteça?</p>

<p>Você pode contar com uma Ave Maria!
</p>
<p>Chega de se sentir desprotegida e desamparada quando precisa se deslocar sozinha. Pensando nisso, criamos a Aves Marias, que é uma rede que conecta mulheres para se acompanharem em suas jornadas diárias.</p>

</div></div>
{% endblock content %}
