{% extends "base.html" %}

{% block content %}
<div class="quotes">

<div class="quote">
Porque um grupo podem mais do que uma.
</div>

<div class="quote">
É bom estar com outras mulheres para concretizar projetos.
</div>

<div class="quote">
Duas bocas gritam mais que uma. Dois olhos a mais para estarem atentos.
</div>

<div class="quote">
Porque é bom compartilhar!
</div>

</div>


<div class="quemsomos">
<p>Assim como as aves migram juntas, mulheres juntas vão mais longe.</p>

<p>Sozinha você pode ir rápido, mas junto você pode ir mais longe. </p>
<p>Precisa de parceria para executar um projeto? </p>
<p>Precisa de companhia para um show, para correr, para uma viagem? </p>

<p>Com vergonha de se aproximar de outra mulher para fazerem companhia?
Precisa de alguém para acompanhá-la de volta para casa? 
Vai para um lugar desconhecido à noite e tem medo de ir sozinha?
</p>
<p>Cansada de rezar para que nada de mal lhe aconteça?</p>

<p>Você pode contar com Aves Marias!
</p>
<p>Chega de se sentir desprotegida! Chega de desistir de projetos! Chega de se divertir sozinha!
Aves Marias é uma rede que conecta mulheres para suas jornadas diárias.</p>
</div>


{% endblock content %}
